<!--
  Gubis zsombor Dániel
  Szoft_II_N
  2022-11-09
 -->

 <div class="container">
  <h1>Feladat 0303</h1>
  <h2>Gyepesítés</h2>
  <div class="gyepForm"></div>
    <div class="mb-3"></div>
      <label for="" class="form-label"></label>
      <input type="text" class="form-control" [(ngModel)]="diameter">
 </div>

 <div class="container">
   <div class="mb-3">
  <button class="btn btn-info" (click)="calcArea">Calculate</button>
  <br>
  <label for="result"></label>
  <input type="text" class="form-control">
  </div>
 </div>

